.box{
    background-color: aqua;
    /* transform: translate(100px,50px);
    transform: rotate(-45deg); */
    /* transform: translateX(100px); */
    margin: 200px;
    transform: scale(1,2);
    transform: skew(45deg);
}